.homeProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 2px;
    
}
.homeProduct .image{
width: 200px;
height: 200px;
}
.homeProductPrice{
    font-weight: bold;
    font-size:15px;
    color:black
}
.homeProductName{
    color: black;
}
.add-QuantityDiv{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    gap: 10px;
}
.add-QuantityDiv div button {
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  background-color: black;
  color: white;
}
.add-QuantityDiv div{
    border: solid 1px black;
    border-radius: 4px;
    background-color:black;
    color: white;
    display: flex;
}
.add-QuantityDiv div span{
    padding: 8px;
}
.homeProductAddButton{
    padding: 10px;
    width: 150px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
/* For Featured Tag */
.featuredProducts{
    display: flex;
    flex-direction: row;
    overflow: scroll; 
    scrollbar-width: none;
} 
 .featuredProduct{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
     .featuredProduct .image{
       width: 200px;
       height: 200px;
    }
.tagTitle{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
.extraAd{
    margin-left: -10px ;
    margin-right:-10px;
}
.extraAd img{
     width: 100%;
     height: 100px;
     margin-top: 20px;
     margin-bottom: 30px;
}
.homeProducts{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}
.loadMoreButton{
   padding: 10px;
   width: 150px;
   color: white;
   background-color: rgb(121, 117, 117);
   font-size:medium;
   border: none;
   border-radius: 4px;
} 

/* Responsiveness */
@media (min-width: 680px){
    .homeProduct{
        flex-direction: row;
    }
}

@media(min-width: 1024px){
    .homeProduct{
        flex-direction: column;
    }
    .homeProducts{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}