.categoryHeader{
 background-image: url('/productsImages/hairProducts/CategoryHeader.jpeg');
 background-repeat: no-repeat;
 background-size: cover;
 height: 250px;
}

 .categoryHeader > div{
    background-color: rgba(255, 166, 0, 0.534);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: white;
}
.navPath{
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
} 
.categoryName{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.categoryMain{
    background-color:  rgba(218, 149, 22, 0.281);
    padding: 10px;
    padding-top: 20px;
}
.filtersort-flex{
    display: flex;
    justify-content: space-between;
}
.resultCount{
    padding-bottom: 15px;
    color: gray;
}
.filterBar{
    background-color: white;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;  
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
}
.closeBar{
display: none;
}
.close-reset{
display: flex;
justify-content: space-between;
}
.catFilter{
  display: flex;
  justify-content: space-between;
  font-weight:500;
}
.filterList{
    margin-top: 10px;
}
.subCategories{
    margin-top: 20px;
}
.subCatLink{
    color: black;
}
.sortBar{
    position: fixed;
    top: 30%;
    background-color: white;
    height:auto;
    width: 80%;
    z-index: 1000;
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
 
}
.sortBar p{
  border-bottom: solid rgba(0, 0, 0, 0.384) 2px;
  padding-bottom: 20px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.closeSort{
    display: none;
}
.sortOverLay{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100vh;
}
.categoryDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1000px){
.categoryDisplay{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
}